@using BlazorVirtualGrid.App.Services

<div class="grid-header">
    <div class="grid-header-item" style="min-width: @(Width)px"></div>
    @ChildContent
</div>

@functions {
    [CascadingParameter] VGrid ContainerGrid { get; set; }
    [Parameter] private RenderFragment ChildContent { get; set; }

    GridService gridService;
    int Width = 35;
    protected override void OnInit()
    {
        gridService = ContainerGrid.gridService;
        gridService.Columns.Add(new GridColumnProperty {
            Width = Width
        });
        base.OnInit();
    }
}